@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: #1a1919;
  color: #999;
}

body.dark-mode [class*="text-gray-500"] {
  color: rgba(255, 255, 255, 1);
}

body.dark-mode [class*="text-gray-900"] {
  color: rgba(255, 255, 255, 1);
}

body.dark-mode [class*="text-gray-600"] {
  color: rgba(255, 255, 255, 1);
}

body.dark-mode [class*="bg-gray-200"] {
  background-color: rgb(0, 0, 0, 0.5);
}

body.dark-mode [class*="bg-gray-100"] {
  background-color: #f3f4f6;
}

body.dark-mode [class*="modal"] {
  background-color: #1a1919;
  color: #999;
}

body.dark-mode [class*="demo-editor"] {
  background-color: #1a1919 !important;
  color: white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 767px) {
  .modal {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  }
}

@media (max-height: 700px) {
  .modal {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  }
}

.demo-wrapper {
  width: 100% !important;
  display: block !important;
  height: 400px !important;
}

.demo-editor {
  height: 275px !important;
  border: 1px solid #F1F1F1 !important;
  padding: 5px !important;
  border-radius: 2px !important;
  background-color: #F1F1F1 !important;
}

ul li {
  list-style-type: disc;
}