.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: 0.5rem;
  top: -0.5rem;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

@media (max-width: 767px) {
  .close {
    top: 2rem;
  }
  .modal{
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  } 
}
